@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width : 100vw;
    height : 100vh;
}

#main-form {
    animation: appear 300ms ease-in-out;
}

@keyframes appear {
    0% {
        opacity : 0;
        transform : translateX(-300px);
    }

    55% {
        opacity : 1;
        transform : translateX(0px);
    }

    80% {
        opacity : 1;
        transform : translateX(-50px);
    }

    100% {
        opacity : 1;
        transform : translateX(0px);
    }
}